<form>
  <input type="text" name="id" id="id" [(ngModel)]="object.id" placeholder="Enter ID" class="ifield" ><br>

  <input type="text" name="firstname" id="firstname" [(ngModel)]="object.firstname" placeholder="Enter First name" class="ifield"><br>

  <input type="text" name="lastname" id="lastname" [(ngModel)]="object.lastname" placeholder="Enter Last name" class="ifield"><br>

  <input type="email" name="email" id="email" [(ngModel)]="object.email" placeholder="Enter Email" class="ifield"><br>

  <input type="phonenumber" name="phonenumber" id="object.phonenumber" [(ngModel)]="object.phonenumber" placeholder="Enter Phone Number" class="ifield"><br>

  <input type="submit" (click)="OnSubmit()">
</form>


<div>
  <table>
    <thead>
      <th>Sl.No</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of objectArray;let i=index">
        <td>USER{{item.id +i}}</td>
        <td>{{item.firstname}} {{item.lastname}}</td>
        <td>{{item.email }}</td>
        <td>{{item.phonenumber }}</td>
      </tr>
    </tbody>
  </table>
</div>